{% extends 'base.html'%}
{% block content%}
<div class="container">

  <!-- Popular News section  -->
  <h3 class="text-center"> Top Headlines</h3>
  {%for articles in article %}
  <div class="card" style="width: 18rem;">
    <img src="{{articles.urlToImage}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">{{articles.title}}</h5>
      <p class="card-text">{{articles.description}}
      </p>
      <a href="{{articles.url}}" class="btn btn-primary text-center">Read More</a>
      <p class="card-text text-center"><small class="text-muted">{{articles.author}}</small></p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock%}